In [2]:
import numpy as np
import datetime
import pandas as pd

In [4]:
today_date=datetime.datetime.today()
today_date

datetime.datetime(2020, 9, 15, 10, 46, 29, 811774)

In [5]:
today_date-datetime.timedelta(3)

datetime.datetime(2020, 9, 12, 10, 46, 29, 811774)

In [7]:
days=[today_date-datetime.timedelta(x) for x in range(0,15)]

In [32]:
data=pd.DataFrame(days)
data.columns=['Day']
data

                          Day
0  2020-09-15 10:46:29.811774
1  2020-09-14 10:46:29.811774
2  2020-09-13 10:46:29.811774
3  2020-09-12 10:46:29.811774
4  2020-09-11 10:46:29.811774
5  2020-09-10 10:46:29.811774
6  2020-09-09 10:46:29.811774
7  2020-09-08 10:46:29.811774
8  2020-09-07 10:46:29.811774
9  2020-09-06 10:46:29.811774
10 2020-09-05 10:46:29.811774
11 2020-09-04 10:46:29.811774
12 2020-09-03 10:46:29.811774
13 2020-09-02 10:46:29.811774
14 2020-09-01 10:46:29.811774

In [42]:
data['weekday']=data['Day'].dt.day_name()
data

                          Day    weekday
0  2020-09-15 10:46:29.811774    Tuesday
1  2020-09-14 10:46:29.811774     Monday
2  2020-09-13 10:46:29.811774     Sunday
3  2020-09-12 10:46:29.811774   Saturday
4  2020-09-11 10:46:29.811774     Friday
5  2020-09-10 10:46:29.811774   Thursday
6  2020-09-09 10:46:29.811774  Wednesday
7  2020-09-08 10:46:29.811774    Tuesday
8  2020-09-07 10:46:29.811774     Monday
9  2020-09-06 10:46:29.811774     Sunday
10 2020-09-05 10:46:29.811774   Saturday
11 2020-09-04 10:46:29.811774     Friday
12 2020-09-03 10:46:29.811774   Thursday
13 2020-09-02 10:46:29.811774  Wednesday
14 2020-09-01 10:46:29.811774    Tuesday

In [44]:
dictionary={'Monday':1,'Tuesday':2,'Wednesday':3,'Thursday':4,'Friday':5,'Saturday':6,'Sunday':7
    
    
}

In [45]:
data['weekday_ordinal']=data['weekday'].map(dictionary)
data

                          Day    weekday  weekday_ordinal
0  2020-09-15 10:46:29.811774    Tuesday                2
1  2020-09-14 10:46:29.811774     Monday                1
2  2020-09-13 10:46:29.811774     Sunday                7
3  2020-09-12 10:46:29.811774   Saturday                6
4  2020-09-11 10:46:29.811774     Friday                5
5  2020-09-10 10:46:29.811774   Thursday                4
6  2020-09-09 10:46:29.811774  Wednesday                3
7  2020-09-08 10:46:29.811774    Tuesday                2
8  2020-09-07 10:46:29.811774     Monday                1
9  2020-09-06 10:46:29.811774     Sunday                7
10 2020-09-05 10:46:29.811774   Saturday                6
11 2020-09-04 10:46:29.811774     Friday                5
12 2020-09-03 10:46:29.811774   Thursday                4
13 2020-09-02 10:46:29.811774  Wednesday                3
14 2020-09-01 10:46:29.811774    Tuesday                2